<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalcClassBrTests.Properties.Settings.UnitTestsDataConnectionString"
            connectionString="Data Source=DESKTOP-47GSOLG\MSSQLSERVER01;Initial Catalog=UnitTestsData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>